/*Apllies to all of them*/

h1, h2 {
  color: rgb(53, 172, 126);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navtitle {
  color: rgb(43, 109, 41);
  font-size: 30px
}

/* This styles apply to my Index page */

#homeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 25px;
  border: 5px solid #73AD21;
  padding: 20px;
  height: 50%
}


.img1 {
  border-radius: 10%
}

.indextitle { font-size: 40px;
  font-family:'Averia Libre';
}
 .indexp{ color:rgb(167, 129, 147)}
/* This styles apply to my Login page */

#account {
  text-align: center
}

.Signin {
  margin-top: 30%;
  padding: 5%;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(127, 197, 197);
  box-shadow: 10px 10px 5px grey;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

/* This styles apply to my Information page*/

.Itinerary {
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(61, 114, 163);
  padding: 12px 20px;
}

.cards {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: lightseagreen;
}

th {
  color: rgb(56, 146, 56)
}

/*Apllies to About page*/

.row {
  padding: 5%;
  text-align: justify;
  width: 100%;
}

.lead {
  font-size: 30px
}

.abouttitle{ color: blueviolet;
  font-family: 'Averia Libre';font-size: 22px;

}
/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here 
  line-height: 60px; /* Vertically center the text there 
  background-color: pink;
}

